<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ncl.smartsheetapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smartsheetapp</string>
			</array>
		</dict>
	</array>
	<key>SMARTSHEETS_CLIENT_ID</key>
	<string>hz3m5jsezpv67czzuc3</string>
	<key>SMARTSHEETS_SECRET</key>
	<string>dtotr8udgs7ogrljcjj</string>
	<key>SMARTSHEETS_BASE_URL</key>
	<string>https://api.smartsheet.com/2.0</string>
	<key>SMARTSHEETS_AUTH_URL</key>
	<string>https://app.smartsheet.com/2.0</string>
</dict>
</plist>
